body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}

a {
  display: inline-block;
  text-decoration: none;
}

.suptitle-left {
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 7.33px;
  text-transform: uppercase;
  opacity: 0.5;
  padding-left: 103px;
  position: relative;
  display: inline-block;
  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    left: 0;
    top: 50%;
  }
}
